
// Code for the choose file button
.test::file-selector-button {
  display: inline-block;
  background-color: #18181b;
  border: 1px solid #f5f5f4;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f5f5f4;


  &:hover {
    border: 1px solid #C685DD;
    cursor: pointer;
  }

  &:active {
    background-color: #22c55e;
    transform: translateY(4px);
  }
}

// code for the file next to it.
.test {
  color: #ef4444;

  &:active {
    color: #22c55e;
  }

  &:hover {
    cursor: pointer;
  }
}


